$color-tangerine1: #e65c43;
$color-tangerine2: #f25c43;
$color-white1: #fff;
$color-white2: #f5f6f6;
$color-grey: #666;
$color-charcoal: #30353d;

$font-roboto: "Roboto";

$image-bg: "../images/bg.gif";
$image-logo: "../images/logo.png";
$image-social-media: "../images/social-media.png";
$image-social-media-placeholder: "https://place-hold.it/150x36";

$size-media-large: 959px;
$size-media-medium: 767px;
$size-media-small: 459px;
